  <!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- site metas -->
<title>Deteksi</title>
<!-- bootstrap css -->
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="../public/css/style.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
	<!-- header section start-->
	 <header>
        <a class="logo" href="#"><img src="../public/images/logo baru fasilkom-ti-modified.png" width="70"></a>
            <ul>
                <li>
                   <a href="../public/index.html">BERANDA</a>
                </li>
                <li>
                   <a href="../public/deteksi.html" class="active">DETEKSI</a>
                </li>
                 <li>
                   <a href="../public/bantuan.html">BANTUAN</a>
                </li>
                <li> 
                   <a href="../public/tentang.html">TENTANG</a>
                </li>
            </ul>
  </header>
   <!-- footer section start-->
  <section class="latar" style="height: 93vh;">
    <div class="container" style="padding-top: 200px">
      <h1 class="judul_besar">Hasil Deteksi Penyakit</h1>

      <div style="text-align: center;">
        <img src="../public/static/images/{{ nama_file }}" alt="Gambar_Mangga" style="width:200px; height:200px">
        <p class="image-title-wrap2">{{ nama_file }}</p>
        <h4 style="color: white; padding-top: 10px;">Jenis Penyakit : <mark> {{ jenis_penyakit }}</mark></h4>
        <h4 style="color: white; padding-top: 5px;">Akurasi : <mark> {{ nilai_akurasi }}%</mark></h4>
        <div class="bt_main">
          <div class="button2"><a href="../public/deteksi.html">Deteksi Lagi</a></div>
         </div>
      </div>
  </div>
  </section>
    <!-- footer section end-->

<div class="services_section_2 layout_padding">
    <div class="container">
      <h1 class="companies_text">Solusi Pengobatan</h1>
    </div>
</div>

<div class="container">
  <div class="tab">
    <button class="tablinks" onclick="jenis(event, 'antraknosa')" id="defaultOpen">Antraknosa</button>
    <button class="tablinks" onclick="jenis(event, 'embun_jelaga')">Embun Jelaga</button>
    <button class="tablinks" onclick="jenis(event, 'gloesporium')">Gloesporium</button>
    <button class="tablinks" onclick="jenis(event, 'kutu_putih')">Kutu Putih</button>
  </div>

  <div id="antraknosa" class="tabcontent">
    <div class="row">
        <div class="col-md-6">
          <div class="job_section1">
            <h3 class="jobs_text2">1. Antraknosa</h3>
            <p class="dummy_text">Cara pengendalian penyakit Antraknosa pada mangga :<br>
                a)   Memilih lokasi lahan dengan curah hujan rendah<br>
                b)   Memangkas pohon setiap tahun
                c)    
                <br>
                <br>
                <b>Referensi:</b><br>
                <a style="color: #0C6938;" href="https://plantix.net/id/library/plant-diseases/100068/anthracnose-of-papaya-and-mango/" target="_blank">https://plantix.net/id/library/plant-diseases/100068/anthracnose-of-papaya-and-mango/
                  
                </a>
              </p>
          </div>
        </div>
        <div class="col-md-6">
            <div class="image_3 padding_2"><img src="../public/images/Antraknosa.jpg" style="width: 250px; height: 250px; border-radius: 50em"></div>
          </div>
    </div>
  </div>

  <div id="embun_jelaga" class="tabcontent">
    <div class="row">
        <div class="col-md-6">
            <div class="job_section1">
                <h1 class="jobs_text2">2. Embun Jelaga</h1>
                <p class="dummy_text">Cara pengendalian penyakit Embun Jelaga pada mangga :<br>
                a) Memotong daun yang terkena embun jelaga, thinning (buat jarak) dan menggunakan fungisida.<br>
                b) Memberantas gulma, polikultur, monitoring, dan pemilihan bibit unggul</p>
                
                <br>
                <br>
                <b>Referensi:</b><br>
                <a style="color: #0C6938;" href="https://himaba.fkt.ugm.ac.id/2020/03/06/penyakit-embun-jelaga-penyebaran-dan-pengendaliannya/" target="_blank">https://himaba.fkt.ugm.ac.id/2020/03/06/penyakit-embun-jelaga-penyebaran-dan-pengendaliannya/
                  
                </a>
            </div>
          </div>
        <div class="col-md-6">
            <div class="image_3 padding_2"><img src="../public/images/embun_jelaga.jpg" style="width: 250px; height: 250px; border-radius: 50em"></div>
        </div>
    </div>
  </div>

  <div id="gloesporium" class="tabcontent">
    <div class="row">
      <div class="col-md-6">
          <div class="job_section1">
                <h1 class="jobs_text2">3. Gloesporium</h1>
                <p class="dummy_text">Cara pengendalian penyakit Mati Pucuk (Gleosporium) pada mangga :<br>
                a).    Memotong bagian tanaman yang terserang penyakit<br>
                b).    Menyemprotkan fungisida bubur bordeoux.</p>
                <br>
                <br>
                <b>Referensi:</b>
                <a style="color: #0C6938;" href="http://www.nusatani.com/2016/01/penyakit-daun-mangga-dan-kerabatnya.html" target="_blank">http://www.nusatani.com/2016/01/penyakit-daun-mangga-dan-kerabatnya.html
                  
                </a>
          </div>
      </div>
      <div class="col-md-6">
        <div class="image_3 padding_2"><img src="../public/images/glosperium2.jpg" style="width: 250px; height: 250px; border-radius: 50em"></div>
      </div>
    </div>
  </div>

  <div id="kutu_putih" class="tabcontent">
    <div class="row">
      <div class="col-md-6">
          <div class="job_section1">
                <h1 class="jobs_text2">4. Kutu Putih</h1>
                <p class="dummy_text">Cara pengendalian penyakit Kutu Putih pada mangga :<br>
                a) Menyemprotkan dengan sabun cuci piring<br>
                b) Menyemprotkan dengan insektisida kimia, seperti Curacron 500EC.<br>
                c) Menyemprotkan dengan insektisida organik</p>
                <br>
                <br>
                <b>Referensi:</b>
                <a style="color: #0C6938;" href="https://agri.kompas.com/read/2023/02/03/133335484/cara-membasmi-kutu-putih-pada-pohon-mangga?page=all" target="_blank">https://agri.kompas.com/read/2023/02/03/133335484/cara-membasmi-kutu-putih-pada-pohon-mangga?page=all
                  
                </a>
          
          </div>
      </div>
      <div class="col-md-6">
        <div class="image_3 padding_2"><img src="../public/images/kutu_putih.jpg" style="width: 250px; height: 250px; border-radius: 50em"></div>
      </div>
    </div>
  </div>
</div>

  <!-- footer start-->
  <div class="footer">
    <div class="container">
      <div class="row" style="font-weight: bold">
        <div class="col-3 col-md-3" style="text-align: center;">
          <p class="footer_text">Abid Tondi Nugraha</a></p>
        </div>
        <div class="col-3 col-md-3" style="text-align: center;">
          <p class="footer_text">191401001</p>
        </div>
        <div class="col-3 col-md-4" style="text-align: center;">
          <p class="footer_text">Ilmu Komputer, Universitas Sumatera Utara</p>
        </div>
        <div class="col-3 col-md-2" style="text-align: center;">
          <p class="footer_text">2023</p>
        </div>
      </div>
    </div>
  </div>
   <!-- footer end-->

  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="../public/js/upload.js"></script>
  <!-- copyright section end-->
</body>
</html>